/* work sans font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Work+Sans:wght@400;500;600;700;800&display=swap');


* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* Nav parts style */
.nav-parts {
    display: flex;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    margin: 0;
    justify-content: space-between;

}

.nav-parts-1 {
    display: flex;
    align-items: center;
}

.nav-parts-2 .common-text-gray {
    display: flex;
    gap: 20px;
    align-items: center;
}





.nav-parts-1 img {
    width: 86.041px;
    height: 40px;
    flex-shrink: 0;
}

.nav-title {
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    padding-left: 20px;
}

.g {
    color: #FF42A5;
}

.common-text-gray {
    color: #3C354F;
    font-weight: 500;
    font-size: 15px;
}

.nav-but {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    width: 190px;
    height: 40px;
    flex-shrink: 0;
}

#img-1 {
    width: 33.916px;
    height: 23.756px;
    flex-shrink: 0;
}

#img-2 {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

/* banner parts style */

.banner {
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
    padding-left: 50px;
}

/* .banner-background{
    background-image: url(../images/Group\ 14.png);
    background-repeat: no-repeat;


} */
.banner-part-1 {
    padding-top: 200px;
    align-items: center;

}

.banner-part-1,
p {
    margin: 0;
}

.banner-part-2 img {
    width: 100%;
    height: 100%;

}

.banner-part-1 img {
    margin-right: 10px;
}

.common-text {
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
}

.goat {
    text-align: center;
    font-family: Work Sans;
    font-size: 5.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 0;
    color: #c547ff;
}

.banner-button {
    display: flex;
    gap: 10px;
    margin-top: 30px;

}

.butt-1 {
    border-radius: 30px;
    background-color: #FF42A5;
    width: 100px;
    height: 50px;
    border: none;
    color: #FFF;
    font-size: 17px;
}

.butt-2 {
    border-radius: 48px;
    background: #4EC5F7;
    width: 120px;
    height: 50px;
    border: none;
    color: #FFF;
    font-size: 17px;
}


/* section style */
.section {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    padding: 50px;



}

.part-1 img {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
}

.part-2 {
    text-align: right;

}

.part-2 h2 {
    font-family: Work Sans;
    font-size: 2rem;
    font-weight: 700;
    color: hsl(324, 70%, 42%);
    margin-bottom: 10px;
}

.part-2 p {
    color: #534C64;
    font-size: .8rem;
    font-weight: 400;
    line-height: 30px;
    max-width: 300px;



}

.part-2 p span {
    color: #534C64;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
}

.part-2 button {
    padding: 21px 40px;
    align-items: flex-start;
    border-radius: 40px;
    background-color: #FF42A5;
    color: #FFF;
    border: none;
    margin: 20px;
    font-size: 17px;
}



/* card section style */


.card {
    display: flex;
    gap: 20px;
    padding: 50px;

}

.card-title h2 {
    text-align: center;
    margin: 0;
    font-size: 2.4rem;
    font-weight: 700;
    font-family: Work Sans;



}

.card-title p {
    text-align: center;
    color: #534C64;
    font-size: 1rem;
    font-weight: 400;
    line-height: 30px;

}

.card img {
    width: 100%;
    height: 100%;
}

.card p {
    color: #534C64;
    font-size: 1rem;
    font-weight: 400;
    line-height: 30px;
    max-width: 280px;
}

/* middle part style */
.middle-part {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 50px;
    padding-bottom: 0;
}

.middle-part-1 {
    text-align: right;
    padding-top: 200px;

}

.middle-part-1 h2 {
    font-size: 2.4rem;
    font-weight: 700;
    font-family: Work Sans;
    max-width: 380px;
}

.middle-part-1 h2 span {

}

.middle-part-1 p {
    color: #534C64;
    font-size: 1rem;
    font-weight: 400;
    max-width: 320px;
    margin-top: 60px;
}

.img-1 img {
    height: 80%;
    width: 80%;
    margin-left: 150px;
    padding-right: 50px;
}

.img-2 img {
    height: 35%;
    width: 35%;
    border-radius: 8px;
    border: 10px solid #FFF;
    position: relative;
    bottom: 270px;
}



/* icon section style */


/* .icon-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.box-1{
    display: flex;
}
.box-2{
    display: flex;
} */
.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon-section {
    padding: 50px;
    padding-top: 0;
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(5, 5fr);
}

.icon-section button {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: #FFF;
    width: 8rem;
    height: 5rem;
}

.icon-section button p {
    color: #0B0223;
    font-size: .8rem;
    font-style: normal;
    font-weight: 500;
}

.icon-section button img {
    width: 40%;
    height: 60%;
}

/* footer style */
footer {
    display: flex;
    gap: 20px;
    flex-direction: column;
    background-color: #0B0223;
    justify-content: center;
    align-items: center;
    color: #FFF;
    height: 636px;
}

.footer-contact {
    display: flex;
    gap: 20px;
}

.footer-icon {
    display: flex;
    gap: 30px;
}
.footer-icon img{
    display: flex;
    gap: 30px;
    width: 80%;
    height: 80%;
    
}

.footer-copyright {
    display: flex;
    gap: 20px;
}

.p {
    font-family: Work Sans;
    font-size: .8rem;
    font-style: normal;
    font-weight: 50;
}




@media screen and (max-width: 576px) {

    .nav-parts,
    .nav-parts-2 .common-text-gray,
    .card,
    .middle-part {
        flex-direction: column;

    }

    .banner {
        flex-direction: column-reverse;
    }

    .banner-part-1 {
        padding-top: 20px;
    }

    .section {
        flex-direction: column;
        gap: 20px;
    }

    .part-2,
    .part-2 p,
    .card p,
    .middle-part-1,
    .middle-part-2 {
        padding: 0;
        text-align: center;
        max-width: 300px;
    }

    .img-2 img {
        display: none;
    }

    .img-1 img {
        margin: 0;
        padding: 0;
    }

    .box-1 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .icon-section {
        grid-template-columns: repeat(3, 1fr);
        padding: 20px;
        gap: 0;
    }

    .footer-contact{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .footer-icon{
        display: grid;
        grid-template-columns: repeat(3, 1fr);

    }
    .footer-copyright{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0px;
    }
    footer p{
        max-width: 270px;
        text-align: center;
    }





}


@media screen and (min-width: 576px) and (max-width: 960px) {


    
    .middle-part {
        flex-direction: column;

    }

    .card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 100px;
    }
    .banner {
        flex-direction: column-reverse;
    }

    .banner-part-1 {
        padding-top: 20px;
    }

    .section {
        flex-direction: column;
        gap: 20px;
    }

    .part-2,
    .part-2 p,
    .middle-part-1,
    .middle-part-2 {
        padding: 0;
        text-align: center;
        
    }
    .middle-part-1 p{
        margin: 0;
    }
    .middle-part{
        align-items: center;
    }

    .img-2 img, .icon-9 {
        display: none;
    }

    .img-1 img {
        margin: 0;
        padding: 20px;
    }
    

    

    .icon-section {
        grid-template-columns: repeat(4, 1fr);
        padding: 10px;
        gap: 20px;
    }

    




}

    
